.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.button {
  height: 45px;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Roboto Condensed", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05;
  text-transform: uppercase;
  color: $white;

  &--blue-text {
    border: 1px solid $blue;
    color: $blue;
  }
}

.section-title {
  font-family: "Roboto Condensed", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;

  &--white {
    color: $white;
  }

  @media (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 40px;
  }
}
