// Colors

$white: #ffffff;
$grey: #666666;
$blue-grey: #788891;
$blue: #00b2ff;
$light-grey: #fafafa;
$dark: #203c42;
$light: #cdcdcd;
$dark-grey: #1b2d37;
$border-grey: #626962;
$border-lightgrey: #ebebeb;

// Viewports

$tablet-width: 767px;
$desktop-width: 1023px;
